APP_ENVIRONMENT=Development

# Database Configuration
POSTGRESQL_DATABASE=
POSTGRESQL_USER=
POSTGRESQL_PASSWORD=
POSTGRESQL_ADMIN_PASSWORD=

# API Configuration
ASPNETCORE_URLS=http://+:5000
API_URL=http://api:5000
ASPNETCORE_ENVIRONMENT=Development
DatabaseConnectionString=
WEB_BASE_HREF=/probate/

# CORS Configuration
CORS_DOMAIN=http://localhost:8080

# Docker Compose Project Name
COMPOSE_PROJECT_NAME=jag-probate

# Keycloak Authentication Configuration
OIDC_RP_PROVIDER_ENDPOINT=
OIDC_RP_CLIENT_ID=
OIDC_RP_CLIENT_SECRET=
OIDC_RP_KC_IDP_HINT=bceid
OIDC_RP_REFRESH_THRESHOLD=00:05:00

# CHEFS (Common Hosted Form Service) - API key is per form
# Form URL example: https://chefs-dev.apps.silver.devops.gov.bc.ca/app/form/submit?f={formId}
CHEFS_FORM_ID_NONLEGAL=
CHEFS_FORM_ID_LEGAL=
CHEFS_API_KEY=
# Dev: https://chefs-dev.apps.silver.devops.gov.bc.ca/app/api/v1
CHEFS_BASE_URL=

CDOGS_BASE_URL=https://cdogs-master.apps.silver.devops.gov.bc.ca/api/v2
CDOGS_CLIENT_ID=your-client-id
CDOGS_CLIENT_SECRET=your-client-secret
CDOGS_TOKEN_URL=https://loginproxy.gov.bc.ca/auth/realms/comsvcauth/protocol/openid-connect/token

# VITE Environment Variables
# "DEV&TEST": https://www.test.bceid.ca/register/basic/account_details.aspx?type=regular&serviceId=2041&eServiceType=all
# "PROD": https://www.bceid.ca/register/basic/account_details.aspx?type=regular&serviceId=7493&eServiceType=all
VITE_BCEID_REGISTER_URL=