APP_ENVIRONMENT=Development

# Database Configuration
POSTGRESQL_DATABASE=
POSTGRESQL_USER=
POSTGRESQL_PASSWORD=
POSTGRESQL_ADMIN_PASSWORD=

# API Configuration
ASPNETCORE_URLS=http://+:5000
API_URL=http://api:5000
ASPNETCORE_ENVIRONMENT=Development
DatabaseConnectionString=
WEB_BASE_HREF=/probate/

# CORS Configuration
CORS_DOMAIN=http://localhost:8080

# Docker Compose Project Name
COMPOSE_PROJECT_NAME=jag-probate

# Keycloak Authentication Configuration
OIDC_RP_PROVIDER_ENDPOINT=
OIDC_RP_CLIENT_ID=
OIDC_RP_CLIENT_SECRET=
OIDC_RP_KC_IDP_HINT=bceid
OIDC_RP_REFRESH_THRESHOLD=00:05:00
TOKEN_REFRESH_THRESHOLD=00:05:00

# CHEFS (Common Hosted Form Service) - API key is per form
# Form URL example: https://chefs-dev.apps.silver.devops.gov.bc.ca/app/form/submit?f={formId}
CHEFS_FORM_PREQUALIFYING_SURVEY_FORMID=
CHEFS_FORM_PREQUALIFYING_SURVEY_API_KEY=
CHEFS_FORM_PREQUALIFYING_SURVEY_ORDER=0
CHEFS_FORM_PREQUALIFYING_SURVEY_TITLE="Survey Questions"
CHEFS_FORM_PREQUALIFYING_SURVEY_ICON="list-check"
CHEFS_FORM_DECEASED_FORMID=
CHEFS_FORM_DECEASED_API_KEY=
CHEFS_FORM_DECEASED_ORDER=1
CHEFS_FORM_DECEASED_TITLE="Deceased"
CHEFS_FORM_DECEASED_ICON="skull"
CHEFS_FORM_DECEASED_CHILD_0_TITLE="Information About Deceased"
CHEFS_FORM_TESTAMENTARY_DOCS_FORMID=
CHEFS_FORM_TESTAMENTARY_DOCS_API_KEY=
CHEFS_FORM_TESTAMENTARY_DOCS_ORDER=2
CHEFS_FORM_TESTAMENTARY_DOCS_TITLE="Deceased's Will"
CHEFS_FORM_TESTAMENTARY_DOCS_ICON="book"
CHEFS_FORM_TESTAMENTARY_DOCS_CHILD_0_TITLE="Deceased's Will"
CHEFS_FORM_RELATED_PEOPLE_FORMID=
CHEFS_FORM_RELATED_PEOPLE_API_KEY=
CHEFS_FORM_RELATED_PEOPLE_ORDER=3
CHEFS_FORM_RELATED_PEOPLE_TITLE="Related People"
CHEFS_FORM_RELATED_PEOPLE_ICON="users"
CHEFS_FORM_RELATED_PEOPLE_CHILD_0_TITLE="Spouse"
CHEFS_FORM_RELATED_PEOPLE_CHILD_1_TITLE="Children"
CHEFS_FORM_RELATED_PEOPLE_CHILD_2_TITLE="Creditors"
CHEFS_FORM_APPLICANT_FORMID=
CHEFS_FORM_APPLICANT_API_KEY=
CHEFS_FORM_APPLICANT_ORDER=4
CHEFS_FORM_APPLICANT_TITLE="Applicant"
CHEFS_FORM_APPLICANT_ICON="user-tie"
CHEFS_FORM_APPLICANT_CHILD_0_TITLE="Information About Applicant"
CHEFS_FORM_APPLICANT_CHILD_1_TITLE="Citor"
CHEFS_FORM_APPLICANT_CHILD_2_TITLE="Applicant Service"
CHEFS_FORM_NOTIFY_FORMID=
CHEFS_FORM_NOTIFY_API_KEY=
CHEFS_FORM_NOTIFY_ORDER=5
CHEFS_FORM_NOTIFY_TITLE="Notify"
CHEFS_FORM_NOTIFY_ICON="envelope-open-text"
CHEFS_FORM_NOTIFY_CHILD_0_TITLE="Review Your Answers"
CHEFS_FORM_NOTIFY_CHILD_1_TITLE="Tell People You Are Applying"
CHEFS_FORM_NOTIFY_CHILD_2_TITLE="Preview P1"
CHEFS_FORM_NOTIFY_CHILD_3_TITLE="Preview PGT"
CHEFS_FORM_NOTIFY_CHILD_4_TITLE="Notify People"
CHEFS_FORM_ASSETS_FORMID=
CHEFS_FORM_ASSETS_API_KEY=
CHEFS_FORM_ASSETS_ORDER=6
CHEFS_FORM_ASSETS_TITLE="Assets"
CHEFS_FORM_ASSETS_ICON="coins"
CHEFS_FORM_ASSETS_CHILD_0_TITLE="Assets Details"
CHEFS_FORM_APPLICATION_DOCUMENTS_FORMID=
CHEFS_FORM_APPLICATION_DOCUMENTS_API_KEY=
CHEFS_FORM_APPLICATION_DOCUMENTS_ORDER=7
CHEFS_FORM_APPLICATION_DOCUMENTS_TITLE="Application Documents"
CHEFS_FORM_APPLICATION_DOCUMENTS_ICON="file-lines"
CHEFS_FORM_APPLICATION_DOCUMENTS_CHILD_0_TITLE="Preview P9"
CHEFS_FORM_APPLICATION_DOCUMENTS_CHILD_1_TITLE="Fill out a Form P5"
CHEFS_FORM_APPLICATION_DOCUMENTS_CHILD_2_TITLE="Fill out a Form P10"
CHEFS_FORM_APPLICATION_DOCUMENTS_CHILD_3_TITLE="Fill out an Application for Search of Wills Notice"
CHEFS_FORM_APPLICATION_DOCUMENTS_CHILD_4_TITLE="Fill out a Form P2"

# Dev: https://chefs-dev.apps.silver.devops.gov.bc.ca/app
CHEFS_BASE_URL=

CDOGS_BASE_URL=https://cdogs-test.api.gov.bc.ca/api/v2
CDOGS_CLIENT_ID=
CDOGS_CLIENT_SECRET=
CDOGS_TOKEN_URL=https://test.loginproxy.gov.bc.ca/auth/realms/comsvcauth/protocol/openid-connect/token

# eFiling Hub Configuration - Court Locations API
EFiling__BaseUrl=
EFiling__KeycloakBaseUrl=
EFiling__KeycloakRealm=
EFiling__ClientId=
EFiling__ClientSecret=

# Web runtime configuration
# "DEV&TEST": https://www.test.bceid.ca/register/basic/account_details.aspx?type=regular&serviceId=2041&eServiceType=all
# "PROD": https://www.bceid.ca/register/basic/account_details.aspx?type=regular&serviceId=7493&eServiceType=all
BCEID_REGISTER_URL=
